.top-bar {
    background-color: #000000;
    /*
    position: fixed;
    top: 0;
    */
    width: 100%;
    display: block;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

p.name {
    font-size: 3rem;
}   

.nav-bar ul {
    display: flex;
    flex-flow: row nowrap; 
    font-size: 1.25rem;
    
}

li.nav-item {
    list-style-type: none;
    line-height: 35px;
    margin-left: 30px;
}

li.nav-item a {
    color: #797979;
    text-decoration: none;
    transition: 0.5s;
}

li.nav-item a:hover {
    color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .container {
        flex-flow: column nowrap;
        align-items: center;
    }
}